@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


@font-face {
    font-family: 'dunkin';
    src: url('../font/typo_round_regular_demo.otf') format('opentype');
}

* {
    transition: all 0.2s ease;
}

body {
    margin: 0;
    padding: 0;
    overflow: hidden;
}

:root {
    /*---Profolio---*/
    --backgroud-pf: #ffffff;
    --card-pf: #0B0C10;
    --text-highlight-pf: #70b8ff;
    --shadow-v2: #1760a8;
    --shadow-blur-pf: #1D2E73;
    --shadow-pf: #70b7ff7f;
    --info-cartel-pf: #387aff99;
    --text-color-pf: #FFFFFF;
    --text-color-pf-2: #1D2E73;
    --outline: #f2f2f25c;
    /*----Photos----*/
    --backgroud-ph: #0f0f0f;
    --card-ph: #ECECEC;
    --text-color-ph: #000000;
    --text-highlight-ph: #8BE657;
    --text-highlight-ph2:rgb(152, 233, 77);
    /*-----Autre-----*/
    --text-highlight-au: #FF4444;
    --card-au: #0b0c108e;
}


/* ██████╗   ██████╗ */
/* ██╔══██╗ ██╔════╝ */
/* ██████╔╝ ██║      */
/* ██╔═══╝  ██║      */
/* ██║      ╚██████╗ */
/* ╚═╝       ╚═════╝ */

.hole {
    width: 30px;
    height: 30px;
    position: absolute;
    bottom: 5px;
    left: 30px;
    background-image: url(../img/crack.png);
    background-size: cover;
    z-index: 9999;
}

.hole.big {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(16, 16, 16);
    background-image: url(../img/crack_big.png);
    background-size: cover;
}

.hole::after {
    text-align: center;
    z-index: 999;
    content: 'Un trou de CSS';
    position: absolute;
    font-size: 10px;
    top: 0px;
    right: 0;
    transform: translateX(50%);
    width: 90px;
    opacity: 1;
    scale: 0;
    color: #000000;
    background-color: #ECECEC;
    font-family: 'Poppins';
    border-radius: 20px;
    transition: all 0.3s ease;
}

.hole:hover::after {
    text-align: center;
    z-index: 999;
    content: 'Un trou de CSS';
    position: absolute;
    font-size: 10px;
    top: -20px;
    right: 0;
    transform: translateX(50%);
    width: 90px;
    opacity: 1;
    scale: 1;
    color: 000000;
    background-color: #ECECEC;
    font-family: 'Poppins';
    border-radius: 20px;
    transition: all 0.3s ease;
}

.card {
    margin: 0;
    border-radius: 30px;
    padding: 20px;
    position: relative;
    overflow: hidden;
    border: #7373737e 2px solid !important;
}

.container {
    display: flex;
    gap: 20px;
    align-items: stretch;
    height: calc(100vh - 60px);
    margin: 30px;
}

.open {
    flex: 1 1 80vw;
}

.closed {
    flex: 0 0 80px;
}

/* █▀█ █▀█ █▀█ ▀█▀ █▀▀ █▀█ █   █ █▀█ */
/* █▀▀ █▄█ █▀▄  █  █▀  █▄█ █▄▄ █ █▄█ */

.portfolio {
    font-family: 'Poppins';
    padding: 50px 55px;
    background: var(--card-pf);
    color: var(--text-color-pf);
}

.big_shadow {
    z-index: 1 !important;
    width: 70%;
    position: absolute;
    left: -35%;
    top: -50%;
    background-color: var(--shadow-blur-pf);
    filter: blur(200px);
    aspect-ratio: 1;
    border-radius: 50%;
    animation: change_big;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

.pos2 {
    left: initial;
    right: -35%;
    bottom: -50%;
    top: initial;
}

.cadri_a {
    width: calc(100% - 104px);
    border-left: var(--outline) solid;
    border-right: var(--outline) solid;
    height: 100%;
    position: absolute;
    top: 0;
    left: 50px;
    z-index: 0;
}

.cadri_b {
    width: 100%;
    border-bottom: var(--outline) solid;
    border-top: var(--outline) solid;
    height: calc(100% - 104px);
    position: absolute;
    left: 0;
    top: 50px;
    z-index: 0;
}

.portfolio .title h1 {
    position: absolute;
    top: 50px;
    left: 55px;
    font-size: 3.8em !important;
    margin-bottom: 10px;
    margin-top: 0px;
    margin-left: 5px;
    z-index: 10 !important;
    font-family: 'dunkin', sans-serif;
    text-decoration: underline var(--text-highlight-pf);
    text-decoration-skip: 66px;
}

.portfolio .title hi {
    color: var(--text-highlight-pf);
    font-family: 'dunkin';
}

.portfolio .sidemod hi {
    color: var(--text-highlight-pf);
    font-family: 'dunkin';
    position: absolute;
    top: 50px;
    left: 281px;
    font-size: 1.9em !important;
    margin-bottom: 10px;
    margin-top: 0px;
    margin-left: 5px;
    z-index: 10 !important;
    font-family: 'dunkin', sans-serif;
    text-decoration-skip: 66px;
    scale: 0;
}

.left_side_pf {
    width: calc(50% - 50px);
    position: absolute;
    top: 200px;
    left: 50px;
    height: calc(100% - 270px);
    display: flex;
    justify-content: center;
    z-index: 10;
}


.info {
    width: 300px;
    position: absolute;
    right: calc(110px + 5%);
    bottom: calc(50px + 20%);
    display: flex;
    z-index: 10;
    justify-content: space-evenly;
    align-items: center;
    background-color: var(--info-cartel-pf);
    border-radius: 2000px;
    height: 50px;
    padding-top: 10px;
    padding-bottom: 10px;
    box-shadow: 3px 3px 30px var(--shadow-blur-pf);
    scale: 1vw;
}

.cadri_g {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100% !important;
    --color: rgba(255, 255, 255, 0.027);
    background-color: transparent;
    background-image: linear-gradient(0deg, transparent 24%, var(--color) 25%, var(--color) 26%, transparent 27%, transparent 74%, var(--color) 75%, var(--color) 76%, transparent 77%, transparent),
        linear-gradient(90deg, transparent 24%, var(--color) 25%, var(--color) 26%, transparent 27%, transparent 74%, var(--color) 75%, var(--color) 76%, transparent 77%, transparent);
    background-size: 66px 66px;
    z-index: 2;
    pointer-events: none;
}

.codea {
    position: absolute;
    bottom: 55px;
    right: 60px;
    font-weight: 700;
    z-index: 10;
    font-size: 1.1em;
}

.codea::after {
    content: "</>";
    position: relative;
    left: 5px;
    width: 20px;
    height: 20px;
    rotate: 10deg;
}

.button-logo-container {
    display: block;
    text-align: center;
}

.portfolio button.pf {
    font-size: 2.5em !important;
    background: var(--backgroud-pf);
    border: none;
    position: absolute;
    top: 170px;
    right: 10%;
    color: var(--text-color-pf-2);
    padding: 20px 0px;
    border-radius: 10000px;
    font-weight: 700;
    width: 80%;
    scale: 1;
    cursor: pointer;
    box-shadow: 0 0 40px var(--info-cartel-pf);
    z-index: 10;
    transition: all 0.2s ease, width 0.4s ease;
}

button.pf:hover {
    scale: 1.05;
    box-shadow: 0 0 20px var(--text-highlight-pf);
    color: var(--text-highlight-pf);
}

button.pfs {
    font-size: 1.1em !important;
    background: var(--backgroud-pf);
    border: none;
    width: 120px;
    color: var(--text-color-pf-2);
    padding: 10px 20px;
    border-radius: 10000px;
    font-weight: 700;
    cursor: pointer;
    box-shadow: 3px 3px 1px var(--shadow-blur-pf);
    margin: 10px;
    text-align: center;
}

button.pfs:hover {
    scale: 1.05;
    box-shadow: 4px 4px 3px var(--shadow-blur-pf);
}

.logo img {
    height: 100%;
}

.logo {
    border-radius: 10000px;
    position: absolute;
    bottom: 5%;
    left: 10%;
    height: 60%;
    z-index: 10;
    box-shadow: 0 0 30px var(--shadow-pf);
}

.logo:hover {
    rotate: -20deg;
    scale: 1.05;
}

.portfolio.closed {
    padding: 20px;
}

.portfolio.closed .cadri_b {
    width: 100%;
    border-bottom: var(--outline) solid;
    border-top: var(--outline) solid;
    height: calc(100% - 40px);
    position: absolute;
    left: 0;
    top: 20px;
    z-index: 0;
}

.portfolio.closed .cadri_a {
    width: calc(100% - 40px);
    border-left: var(--outline) solid;
    border-right: var(--outline) solid;
    height: 100%;
    position: absolute;
    left: 20px;
    top: 0;
    z-index: 0;
}

.portfolio.closed .codea {
    display: none;
}

.portfolio.closed .title h1 {
    scale: 0;
    left: -60px;
    rotate: -90deg;
    top: calc(100px + 50%);
    transform: translateX(50%);
}

.portfolio.closed .sidemod hi {
    left: -60px;
    rotate: -90deg;
    top: calc(100px + 50%);
    transform: translateX(50%);
    scale: 1;
}

.portfolio.closed .left_side_pf {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    margin: 0;
}

.portfolio.closed .info {
    display: none;
}

.portfolio.closed .logo {
    height: auto !important;
    position: absolute;
    bottom: calc(100% - 20px - 90px);
    left: 20px;
    margin: 0;
    width: calc(100% - 38px);
    aspect-ratio: 1;
    box-shadow: 0 0 0 #00000000;
}

.portfolio.closed .logo:hover {
    rotate: 0deg !important;
    scale: 1 !important;
}

.portfolio.closed .logo img {
    width: 100%;
    height: auto;
    aspect-ratio: 1 !important;
}

.portfolio.closed .big_shadow {
    position: absolute;
    top: -60% !important;
    left: calc(-200% - 100px) !important;
    height: 100% !important;
    width: auto !important;
    filter: blur(100px);
}

.portfolio.closed .pos2 {
    bottom: -100% !important;
    top: initial !important;
    ;
    left: initial !important;
    right: -100%;
}

.portfolio.closed button {
    scale: 0;
    opacity: 0;
    width: 0;
}

/* █▀█ █ █ █▀█ ▀█▀ █▀█ */
/* █▀▀ █▀█ █▄█  █  █▄█ */

.photo {
    background-color: var(--card-ph);
    color: var(--text-color-ph);
}

.big_shadow_ph {
    background-color: var(--text-highlight-ph);
    width: 100%;
    position: absolute;
    right: -50%;
    top: -75%;
    border-radius: 50%;
    filter: blur(100px);
    aspect-ratio: 1;
    z-index: 1;
    animation: scal_move;
    animation-duration: 10s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
}

.photologo {
    width: 100px;
    position: absolute;
    z-index: 10;
    right: 30px;
    top: 30px;
    box-shadow: 0 0 30px 5px var(--card-ph);
    border-radius: 50%;
}

.photo .title h1 {
    position: absolute;
    top: 40px;
    left: 55px;
    font-size: 3.8em !important;
    margin-bottom: 10px;
    margin-top: 0px;
    margin-left: 5px;
    z-index: 10 !important;
    font-family: 'Poppins';
    text-decoration-skip: 66px;
    font-weight: 500;
}

.photo button.pf {
    font-size: 2.5em !important;
    background: var(--card-ph);
    border: none;
    position: absolute;
    top: 35%;
    right: 30%;
    transform: translateX(50%);
    color: var(--text-highlight-ph);
    padding: 20px 0px;
    border-radius: 10000px;
    font-weight: 700;
    width: 350px;
    cursor: pointer;
    box-shadow: 0 0 30px 5px var(--text-highlight-ph);
    z-index: 10;
    transition: all 0.2s ease, width 0.6s ease;
}

.imgex {
    width: calc(100% - 250px);
    position: absolute;
    bottom: 20px;
    left: 20px;
    border-radius: 10px;
    box-shadow: 0px 5px 20px -7px var(--backgroud-ph);
}

.imgexbox::after {
    width: 100%;
    height: 150%;
    position: absolute;
    top: -60%;
    right: -30%;
    rotate: -45deg;
    content: '';
    filter: blur(75px);
    background-color: var(--card-ph);
}

.photo.closed .title h1 {
    position: absolute;
    rotate: -90deg;
    left: -65px;
    top: calc(100px + 50%);
    transform: translateX(50%);
    font-weight: 600;
}

.photo.closed button {
    opacity: 0 !important;
    scale: 1;
}

.photo.closed .big_shadow_ph {
    top: -250px;
    left: -200px;
    width: 500px;
    height: 500px;
}

.photo.closed .photologo {
    top: 20px;
    right: 20px;
    width: 80px;
    height: 80px;
}


.autre {
    background-color: var(--card-au);
}

.autre .title h1 {
    position: absolute;
    top: 40px;
    left: 55px;
    font-size: 3.5em !important;
    margin-bottom: 10px;
    margin-top: 0px;
    margin-left: 5px;
    z-index: 10 !important;
    font-family: 'Poppins';
    text-decoration-skip: 66px;
    font-weight: 500;
    color: var(--text-color-pf);
}

.autre hi {
    background-color: var(--text-highlight-au);
    border-radius: 20px;
    padding: 0 10px;
    color: var(--text-color-pf) !important;
}

.autre button hi {
    padding: 10px;
}

.autre button.pf {
    font-size: 2.5em !important;
    background: var(--backgroud-pf);
    border: none;
    position: absolute;
    bottom: 50%;
    right: 5%;
    transform: translateY(50%);
    padding: 20px 0px;
    border-radius: 10000px;
    font-weight: 700;
    width: 45%;
    scale: 1;
    cursor: pointer;
    box-shadow: 0 0 40px #ececec9b;
    z-index: 10;
    max-height: 90px;
    overflow: hidden;
}

.autre button.pf:hover {
    width: 50%;
    right: 3%;
    color: var(--text-highlight-au);
    border: var(--text-highlight-au) solid 3px;
}

.form_img {
    z-index: 3;
    position: absolute;
    width: 40%;
    rotate: -15deg;
    left: 50px;
    bottom: 60px;
    border: #ECECEC solid;
    border-radius: 30px;
    animation: flow;
    animation-duration: 15s;
    /*animation repeat*/
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;

}

.autrelogo {
    width: 100px;
    position: absolute;
    z-index: 10;
    right: 30px;
    top: 30px;
    border-radius: 50%;
}


.autre.closed button.pf {
    scale: 0;
}

.autre.closed .title hi {
    background-color: transparent;
    position: absolute;
    top: 20px;
    width: 350px;
    right: calc(30vh - 170px);
    transform: transla"teX(50%);
}

.autre.closed .title h1 {
    rotate: -90deg;
}
.autre.closed ha {
    opacity: 0;
    rotate: -90deg;
}

.autre.closed .form_img{
    scale: 0;
}

.autre.closed .autrelogo{
    top: 20px;
    right: 20px;
    width: 80px;
    height: 80px;
}





.bg::after {
    content: "";
    position: absolute;
    inset: 0;
    z-index: 1;
    backdrop-filter: hue-rotate(90deg);
    mask: linear-gradient(45deg, #0000, #000);
    animation: rotaty 5s linear infinite;
    transform-origin: center;
}

.bg {
    position: absolute;
    margin: -20px;
    background-image: radial-gradient(circle at 50% 50%,
            #0000 0,
            #0000 2px,
            hsl(0 0 4%) 2px);
    background-size: 8px 8px;
    width: 100%;
    height: 100%;
}

@keyframes change_big {
    0%{
        background-color: var(--shadow-blur-pf);
    }
    25% {
        background-color: var(--info-cartel-pf);
    }
    50% {
        background-color: var(--shadow-v2);
    }
    75% {
        background-color: var(--text-color-pf-2);
    }
    100% {
        background-color: var(--shadow-blur-pf);
    }
}

@keyframes scal_move {
    0% {
        transform: scale(1);
        background-color: var(--text-highlight-ph);
    }
    25% {
        transform: scale(1.1);
    }
    50% {
        transform: scale(1.05);
        background-color: var(--text-highlight-ph2);
    }
    75% {
        transform: scale(1.15);
    }
    100% {
        transform: scale(1);
        background-color: var(--text-highlight-ph);
    }
}

@keyframes flow {
    0% {
        rotate: -15deg;
        left: 50px;
        bottom: 60px;
    }

    50% {
        rotate: -10deg;
        left: 60px;
        bottom: 80px;
    }

    100% {
        rotate: -15deg;
        left: 50px;
        bottom: 60px;
    }
}

@keyframes thingy {
    0% {
        filter: var(--f) hue-rotate(0deg);
    }

    to {
        filter: var(--f) hue-rotate(1turn);
    }
}

.bg::before {
    content: "";
    position: absolute;
    inset: -8em;
    z-index: -1;
    --f: blur(7em) brightness(5);
    --c: #09f;
    animation:
        blobs-1e28bd3d 150s linear infinite,
        thingy 5s linear infinite;
    background-color: #000;
    background-image: radial-gradient(ellipse 66px 50px at 50% 50%,
            #0f0 0%,
            transparent 100%),
        radial-gradient(ellipse 77px 60px at 50% 50%, #0f0 0%, transparent 100%),
        radial-gradient(ellipse 78px 100px at 50% 50%, #0f0 0%, transparent 100%),
        radial-gradient(ellipse 73px 96px at 50% 50%, #0f0 0%, transparent 100%),
        radial-gradient(ellipse 76px 77px at 50% 50%, #0f0 0%, transparent 100%),
        radial-gradient(ellipse 66px 51px at 50% 50%, #0f0 0%, transparent 100%),
        radial-gradient(ellipse 90px 57px at 50% 50%, #0f0 0%, transparent 100%),
        radial-gradient(ellipse 89px 93px at 50% 50%, #0f0 0%, transparent 100%);
    background-size:
        726px 576px,
        1242px 454px,
        876px 1160px,
        691px 873px,
        914px 550px,
        1159px 340px,
        1017px 831px,
        313px 977px;
}

@keyframes blobs-1e28bd3d {
    0% {
        background-position:
            271px 478px,
            62px 291px,
            67px 861px,
            553px 413px,
            36px 392px,
            1077px 226px,
            400px 799px,
            7px 264px;
    }

    to {
        background-position:
            -14975px -2978px,
            31112px 11187px,
            -20081px 8981px,
            11609px -3952px,
            -12760px 12492px,
            -9354px 2946px,
            9553px 21574px,
            946px 9057px;
    }
}